.editor {
    padding: 10px 0px;

    textarea {
        margin-top   : 10px;
        width        : 100%;
        min-height   : 600px;
        padding      : 10px;
        outline      : none;
        font-size    : 1.1rem;
        border       : none;
        border-radius: 5px;
        box-shadow   : 0px 0px 5px rgb(194, 194, 194);
        resize       : none;
    }

    div.preview {
        border-radius: 5px;
        box-shadow   : 0px 0px 5px rgb(194, 194, 194);
        padding      : 10px;
        min-height   : 600px;
        width        : 100%;
        margin-top   : 10px;
        // WMDE
    }


}

div.markdown {
    color     : #000;
    padding   : 10px;
    box-sizing: border-box;
    font-family: Inter, "Avenir next",
        Lato,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";


    line-height  : 1.625;
    font-size    : 1.3rem;
    overflow-wrap: break-word;
    word-break   : break-word;

    ::-moz-selection {
        /* Code for Firefox */
        color     : rgb(255, 255, 255);
        background: rgb(255, 0, 119);
    }

    ::selection {
        color     : rgb(255, 255, 255);
        background: rgb(255, 0, 119);
    }

    > :first-child {
        margin-top: 0 !important;
    }

    > :last-child {
        margin-bottom: 0 !important;
    }





    pre {
        margin-bottom: 18px;
        font-size    : 85%;
        line-height  : 1.45;
        position     : relative;
        overflow-x   : auto;
        border-radius: 3px;
    }

    tt {
        background-color: rgba(27, 31, 35, 0.05);
        border-radius   : 3px;
        font-size       : 85%;
        margin          : 0;
        padding         : 0.2em 0.4em;
    }

    img {
        max-width: 100%;
        padding  : 10px 15%;

    }

    input {
        vertical-align: middle;
        margin        : 0 0.2em 0.25em -1.6em;
    }

    h1,
    h2 {
        padding-bottom: 0.3em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight   : 900;
        line-height   : 1.25;
        margin-bottom : 1.5rem;
        margin-top    : 3rem;
        letter-spacing: -0.025em;
    }

    h1 {
        font-size: 2.25em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.75em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.25em;
    }

    h6 {
        font-size: 1em;
    }

    ol,
    ul {
        padding-left: 2em;
    }

    ul {
        margin-bottom: 16px;
        margin-top   : 0;
    }

    blockquote {
        margin                   : 0;
        margin-bottom            : 0px;
        border-left              : 0.2em solid #ff0099;
        border-top-left-radius   : 3px;
        border-bottom-left-radius: 3px;
        color                    : #0b0b0b;
        padding                  : 1.1em;
        font-family              : Arial;
        background-color         : #f7f7f7;
    }

    blockquote> :last-child {
        margin-bottom: 0;
    }

    blockquote> :first-child {
        margin-top: 0;
    }

    hr {
        margin    : 1.5em auto;
        border    : 0;
        border-top: 2px dotted #eee;
        height    : 1px;
    }

    table {
        overflow       : auto;
        width          : 100%;
        border-collapse: collapse;
        overflow-wrap  : normal;
        word-break     : normal;
        border-spacing : 0;
        font-size      : 14px;
        transition     : box-shadow 0.3s ease-in-out;
        box-shadow     : 0px 3px 10px #c6c6c6;
    }

    table:hover {
        box-shadow: none;
    }

    table thead {
        background-color: #eee;
    }

    table tr {
        border-top: 1px solid #c6cbd1;
    }

    table tr:hover {
        background-color: #efefef;
    }

    table td,
    table th {
        border : 1px solid #dfe2e5;
        padding: 3px 12px;
    }

    blockquote,
    details,
    dl,
    ol,
    p,
    pre,
    table,
    ul {
        margin-bottom : 1.5rem;
        letter-spacing: -0.025em;
    }

    a {
        color          : #0366d6;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .namespace {
        opacity: 0.7;
    }

    .token.important {
        font-weight: normal;
    }

    .token.bold {
        font-weight: bold;
    }

    .token.italic {
        font-style: italic;
    }

    .token.entity {
        cursor: help;
    }

    /**
 Docusaurus-like styling for `remarkable-admonitions` blocks
 */

    .admonition {
        margin-bottom: 1em;
        padding      : 15px 30px 15px 15px;
    }

    .admonition h5 {
        margin-top    : 0;
        margin-bottom : 8px;
        text-transform: uppercase;
    }

    .admonition-icon {
        display       : inline-block;
        vertical-align: middle;
        margin-right  : 0.2em;
    }

    .admonition-icon svg {
        display     : inline-block;
        width       : 22px;
        height      : 22px;
        stroke-width: 0;
    }

    .admonition-content> :last-child {
        margin-bottom: 0;
    }

    /** Customization */
    .admonition-warning {
        background-color: rgba(230, 126, 34, 0.1);
        border-left     : 8px solid #e67e22;
    }

    .admonition-warning h5 {
        color: #e67e22;
    }

    .admonition-warning .admonition-icon svg {
        stroke: #e67e22;
        fill  : #e67e22;
    }

    .admonition-tip {
        background-color: rgba(46, 204, 113, 0.1);
        border-left     : 8px solid #2ecc71;
    }

    .admonition-tip h5 {
        color: #2ecc71;
    }

    .admonition-tip .admonition-icon svg {
        stroke: #2ecc71;
        fill  : #2ecc71;
    }

    .admonition-caution {
        background-color: rgba(231, 76, 60, 0.1);
        border-left     : 8px solid #e74c3c;
    }

    .admonition-caution h5 {
        color: #e74c3c;
    }

    .admonition-caution .admonition-icon svg {
        stroke: #e74c3c;
        fill  : #e74c3c;
    }

    .admonition-important {
        background-color: rgba(52, 152, 219, 0.1);
        border-left     : 8px solid #3498db;
    }

    .admonition-important h5 {
        color: #3498db;
    }

    .admonition-important .admonition-icon svg {
        stroke: #3498db;
        fill  : #3498db;
    }

    .admonition-note {
        background-color: rgba(241, 196, 15, 0.1);
        border-left     : 8px solid #f1c40f;
    }

    .admonition-note h5 {
        color: #f1c40f;
    }

    .admonition-note .admonition-icon svg {
        stroke: #f1c40f;
        fill  : #f1c40f;
    }

    @media (max-width:800px) {
        img {
            padding: 10px;
        }
    }

}